.firstname {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serifS;
    color: cornflowerblue;
    font-size: larger;
    
}
.name { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paragraph {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title {
    color: black;
    font-family: cursive;
}